<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {% extends "default.html" %}

    </head>

{% block content %}
<body>
           <div class="col-lg-6 col-md-6 mx-auto">
                    <h2>{{security_info[0]}}</h2>
                    <h5>Best & Worst Days</h5>

<aside>

               <div class="card-header">
                                                           <h6 align="center">Price Evolution in {{security_info[1]}}</h6>
                                                            <ul>
                                                                <li>Price: <strong>{{prices_list[0]}}</strong> </li>
                    <li>Last Year: <strong>{{prices_list[1]}}</strong> </li>
                    <li>2 Years ago: <strong>{{prices_list[2]}}</strong> </li>
                                                 <li>3 Years ago: <strong>{{prices_list[3]}}</strong> </li>

                                             </ul>
                                    </div>



</aside>
<section>

            <div class="col-lg-7 col-md-7 mx-auto">
                    <form method="POST">
                        <h5>Best Days</h5>
                        <h1>{{name}}</h1>
                        {{df_best | safe}}
                        <br>
                        <h5>Worst Days</h5>
                        <h1>{{name}}</h1>
                        {{df_worst | safe}}
                        <br/>
                        <button type="submit" class="btn-sm btn-primary">Calculate Again</button>
                        <br>
                    </form>
                </div>
            </div>
        </div>

    {% endblock %}
</section>
        </div>
</body>
</html>