<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {% extends "default.html" %}

    </head>

{% block content %}
<body>


            <div class="col-lg-7 col-md-7 mx-auto">
                            <h2>Correlation Calculation</h2>
                            <form method="POST">
                                <h5>{{asset}} | {{name}}</h5>
                                <h5>against</h5>
                                <h5>{{asset2}} | {{name2}}</h5>
                                <h5>Alpha: {{alpha}}<h5>
                                                                    <h5>Beta: {{beta}}<h5>
                                <div>
                                    <img class="img-fluid" src="data:image/png;base64, {{ plot_url }}" ,
                                         align="center">
                                </div>
                                <br/>
                                <button type="submit" class="btn-sm pull-right btn-primary">Calculate Again</button>
                                <br>
                            </form>
                        </div>
                    </div>
                </div>
    {% endblock %}
</body>
</html>