<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {% extends "default.html" %}

    </head>

{% block content %}
<body>

            <div class="col-lg-7 col-md-7 mx-auto">
                                <h2>Correlation Calculation </h2>
                                <form method="POST">
                                    <div class="form-group" align="left">
                                        <label for="asset">Ticker of Asset 1</label>
                                        <input
                                                type="text"
                                                class="form-control"
                                                id="asset"
                                                name="asset"
                                                placeholder="DIDI"
                                                required="True"
                                                style="text-transform:uppercase"

                                        />
                                    </div>
                                    <div class="form-group" align="left">
                                        <label for="asset2">Ticker of Asset 2</label>
                                        <input
                                                type="text"
                                                class="form-control"
                                                id="asset2"
                                                name="asset2"
                                                placeholder="META"
                                                required="True"
                                                style="text-transform:uppercase"

                                        />
                                    </div>

                                    <br>

                                    <button class="btn-sm btn-primary mx-3 pull-right" id="submit" align="right"
                                            onsubmit="return false" onclick="loading3()"
                                            type="submit">
                                        <i class="fas fa-spinner fa-spin" style="display:none;"></i>
                                        <span class="btn-text pull-right">Submit</span>
                                    </button>
                                    <input type="reset" class="btn-sm btn-primary pull-right">
                                    <p>

                                    </p>
                                    <br>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="loading" style="display:none;"><img src="loading.gif" alt=""/>Loading!</div>

    {% endblock %}
</body>
</html>
