<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {% extends "default.html" %}

    </head>

{% block content %}
<body>
            <div class="col-lg-7 col-md-7 mx-auto">
                            <h3>Correlation Calculation</h3>

                            <form method="POST">
                                <div class="container">
                                    <img class="img-fluid" src="data:image/png;base64, {{ plot_url }}" ,
                                         align="center">
                                </div>
                                <br/>
                                <button type="submit" class="btn-sm pull-right btn-primary">Calculate Again</button>
                                <br>
                            </form>
                        </div>

                    </div>
                </div>

    {% endblock %}
</body>
</html>
