<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
</head>

<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>


<body>

<header class="masthead"
        style="background-image: url('/static/assets/back.webp')"
        xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="overlay"></div>
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>The Life of a Modern Man</h1>

                    <span class="subheading">Advising in Lifestyle and Finance</span>

                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>