<!DOCTYPE html>
<body>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.js"></script>
    {% include "navigation.html" %}
    {% block body %}
    {% include "header_main.html" %}
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
            <div class="page-heading">
                <div class="container">
                    <div class="post-heading">
                        <h3>Portfolio Value</h3>
                        <p>Initial Value: <strong>{{initialValue}}</strong> |
                            Final Value: <strong>{{finalValue}}</strong></p>
                        <p>Total Return: <strong>{{total_return}}</strong> | Annualized Return:
                            <strong>{{annualized_return}}</strong></p>



                                                                                          <canvas id="lineModal" width="1600" height="1000"></canvas>
                          <script>

                                                            var data1 = {{labels | safe}};
                              var date3 = {{list_lists | safe}};
                              var port = {{portfolio[0] | safe}};
                              var asset_l = {{asset_labels | safe}};
                              var col = {{colors | safe}};


var LINECHART = $('#lineModal');
window.myLineChart=new Chart(LINECHART,
{   type: 'line',
  data: {
    labels: data1,
    datasets: [{
        data: port,
        label: "Portfolio",
        borderColor: "#3e95cd",
        pointRadius: 2,
pointHoverRadius: 2,
        fill: false
      }
    ]
  },
  options: {
    parsing: false,
    plugins: {
      decimation: {
         enabled: false,
         algorithm: 'min-max',
      },
    },
    title: {
      display: true,
      text: 'Portfolio Evolution'
    },
      elements: {
        line: {
            tension: 0
        }
      },
      scales: {
        xAxes: [{
            ticks: {
                display: false
            }
        }]
    }
  }

});

for(let i=0;i<date3.length;i++){
     myLineChart.data.datasets.push({
            label: asset_l[i],
            data: date3[i],
            borderColor: col[i],
            fill: false,
            spanGaps: false,
         pointRadius: 1,
pointHoverRadius: 1
        });
 }
 //Use the window object to update myLineChart
 window.myLineChart.update();


                            </script>



                        <form method="POST">

                            <img class="img-fluid"
                                 src="data:image/png;base64, {{ plot_url }}" ,
                                 align="center">
                            <br/>
                            <button type="submit" class="btn-sm btn-primary">Calculate Again</button>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>


{% endblock %}
{% include "footer.html" %}
</html>
