<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<script src="static/scripts.js"></script>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% include "navigation.html" %}
    {% block body %}
    {% include "header_main.html" %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                <div class="page-heading">
                    <div class="container">
                        <div class="post-heading">
                            <div class="card-header">
                                <h2 align="center" Portfolio Value</h2>
                                <form method="POST">
                                    <div class='row'>
                                        <div class='col-sm-4'>
                                            <div class='form-group'>
                                                <label for="initialValue">Initial value</label>
                                                <input class="form-control" id="initialValue" name="initialValue"
                                                       size="30"
                                                       type="number"/>
                                            </div>
                                        </div>
                                        <div class='col-sm-4'>
                                            <div class='form-group'>
                                                <input class="form-control"
                                                       {{ form.csrt_token }}
                                                       {{ form.startdate.label }}
                                                       {{form.startdate(class='datepicker' )}}
                                                       {{form.hidden_tag()}}/>
                                            </div>
                                        </div>
                                    </div>
                                    <h4>Single Asset</h4>

                                    <div class='row'>
                                        <div class='col-sm-4'>
                                            <div class='form-group'>
                                                <label for="asset">Title</label>
                                                <input class="form-control" id="asset" name="asset"
                                                       size="30"
                                                       type="text"/>
                                            </div>
                                        </div>

                                        <div class='col-sm-4'>
                                            <div class='form-group'>
                                                <label for="weight">Title</label>
                                                <input class="form-control" id="weight" name="weight"
                                                       size="30"
                                                       type="number"/>
                                            </div>
                                        </div>
                                    </div>


                                </form>


                                <br/>
                                <input type="submit" value="Calculate" class="btn-sm btn-primary"
                                       onclick="$('#loading').show();">
                                <input type="reset" class="btn-sm btn-primary">
                                <br>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="loading" style="display:none;"><img src="loading.gif" alt=""/>Loading!</div>


            </div>
        </div>


    </div>
    </div>
    </div>
    </div>
    </header>

    {% endblock %}
    {% include "footer.html" %}
</head>
</html>